{% extends "../base.html" %}
{% load static %}


{% block load_files %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}
{% block title %}
    <title>Posts</title>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="container container-post">
            <div class="col-lg-8 col-lg-offset-2 post">
                {{ post.user }}<br/>
                <div class="image-wrap">
                    <a href="{% url 'post_single' pk=post.id %}">
                        <img src="{{ MEDIA_URL }}{{ post.image.url }}" class="img-responsive"/>
                    </a>
                </div>
                <i class="icon-heart">Like</i>
                    <br/>
                {{ post.text }} <br/>
                {{ post.create }}
            </div>
        </div>
    {% endfor %}

{% endblock %}