<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Add post</h1>
    {% if user.is_authenticated %}
        <p>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Add">
            </form>
        </p>
    {% else %}
            <p>Чтобы оставить комментарий, войдите на сайт</p>
    {% endif %}
</body>
</html>